$darkgrey : #262626;
$grey: #737373;
$darkred: #590202;
$red: #8C0303;
$lightred: #F20505;


$messagefont: 'DM Mono', monospace;
$defaultfont: 'Roboto', sans-serif;
$displayfont: 'Squada One', cursive;